.mx-abt-sec {
	z-index: 1;
	.mx-abt-shape1 {
		left: 0;
		right: 0;
		bottom: 10%;
		z-index: -1;
		text-align: center;
	}
}
.mx-abt-title {
	gap: 30px;
	@media #{$md,$sm,$xs,$xxs} {
		flex-wrap: wrap;
	}
	.subtitle {
		span {
			position: relative;
			border-radius: 120px;
			color: var(--mx-prime-c);
			padding: 10px 16px 6px 35px;
			border: 1px solid var(--mx-prime-c); 
			&:before {
				top: 18px;
				left: 22px;
				width: 5px;
				height: 5px;
				content: '';
				position: absolute;
				background-color: var(--mx-prime-c);
			}
		}
	}
	.ab1_title {
		font-size: 32px;
		max-width: 636px;
		font-weight: 600;
		@media #{$lg,$md,$sm,$xs,$xxs} {
			max-width: 560px;
		}
		span {
			display: inline;
			color: #00000080;	
		}
	}
	.mx-ab-shape {
		@media #{$md,$sm,$xs,$xxs} {
			display: none;
		}
	}
}
.heartbeat-path {
	stroke-dasharray: 260;
	stroke-dashoffset: 260;
	animation:
	drawPulse 7s ease-in-out infinite,
	heartBeat 7s ease-in-out infinite;
	transform-origin: center;
}

@keyframes drawPulse {
	0% {
		stroke-dashoffset: 260;
		opacity: 0.3;
	}
	30% {
		stroke-dashoffset: 130;
		opacity: 1;
	}
	50% {
		stroke-dashoffset: 0;
	}
	100% {
		stroke-dashoffset: -260;
		opacity: 0.3;
	}
}

@keyframes heartBeat {
	0%   { transform: scale(1); }
	20%  { transform: scale(1.08); }
	40%  { transform: scale(1); }
	60%  { transform: scale(1.05); }
	100% { transform: scale(1); }
}

.mx-abt1-content {
	gap: 40px;
	@media #{$md,$sm,$xs,$xxs} {
		flex-wrap: wrap;
		justify-content: center !important;
	}
}
.mx-abt1-img {
	overflow: hidden;
	max-width: 440px;
	border-radius: 24px;
	border: 10px solid #FFFFFF
}
.mx-abt1-text {
	max-width: 514px;
	@media #{$md,$sm,$xs,$xxs} {
		padding-top: 0;
	} 
	p {
		padding-bottom: 24px;
	}
}

.mx-abt1-img-wrapper {
	margin-top: -88px;
	@media #{$md,$sm,$xs,$xxs} {
		margin-top: 0;
	}
}
.mx-abt1-img2 {
	.item-img {
		overflow: hidden;
		border-radius: 24px;
		border: 10px solid #FFFFFF;
	}
}
.mx-abt1-exp {
	z-index: 1;
	width: 291px;
	height: 321px;
	padding: 32px;
	display: flex;
	margin-top: -188px;
	border-radius: 24px;
	flex-direction: column;
	background-color: #F6F7F9;
	border: 10px solid #FFFFFF;
	justify-content: space-between;
	transform: translateX(-100px);
	@media #{$xxl,$xl,$lg,$md,$sm,$xs,$xxs} {
		transform: translateX(-20px);
	}
	.item-fav {
		width: 40px;
		height: 40px;
		animation: hithere 1500ms ease-in-out infinite;
	}
	.exp-shape {
		top: -30%;
		right: -25%;
		z-index: -1;
		opacity: .4;
	}
	.item-text {
		h3 {
			color: #1C1C1D;
			font-size: 60px;
			font-weight: 700;
		}
	}
}
