.mx-appoint-sec {
	margin: 0px 24px;
	@media #{$xxs} {
		margin: 0px 10px;
	}
}
.mx-appoint-content {
	overflow: hidden;
	border-radius: 40px;
	background-attachment: fixed;
}
.mx-appoint-form {
	padding: 48px;
	max-width: 768px;
	border-radius: 32px;
	background-color: #fff;
	@media #{$xxs} {
		padding: 25px 15px;
	}
	.form-title {
		margin-bottom: 35px;
		h3 {
			font-size: 40px;
			font-weight: 600;
			padding-bottom: 10px;
			@media #{$md} {
				font-size: 38px;
			}
			@media #{$sm} {
				font-size: 36px;
			}
			@media #{$xs} {
				font-size: 34px;
			}
			@media #{$xxs} {
				font-size: 30px;
			}
			@media #{$xxxs} {
				font-size: 28px;
			}
		}
	}
	.mx-form-input {
		gap: 20px;
		display: grid;
		grid-template-columns: 1fr 1fr;
		@media #{$sm,$xs,$xxs} {
			grid-template-columns: 1fr;
		}
	}
	.item-field {
		position: relative;
		i {
			top: 20px;
			right: 16px;
			position: absolute;
		}
		input,select,textarea {
			width: 100%;
			height: 54px;
			appearance: none;
			padding-left: 20px;
			border-radius: 12px;
			background-color: #F5FAFE;
			border: 1px solid #EAECF0;
		}
		textarea {
			height: 146px;
			margin-top: 20px;
			padding-top: 20px;
		}
	}
	button {
		color: #fff;
		width: 100%;
		height: 54px;
		border: none;
		margin-top: 30px;
		border-radius: 32px;
		transition: all 300ms ease-in-out;
		background-color: var(--mx-prime-c2);
		&:hover {
			background-color: var(--mx-prime-c);
		}
	}
}