.mx-blog-content {
	gap: 24px;
	display: grid;
	grid-template-columns: 1fr 1fr;
	@media #{$sm,$xs,$xxs} {
		grid-template-columns: 1fr;
	}
}

.mx-blog-item {
	.item-img {
		overflow: hidden;
		border-radius: 24px;
		margin-bottom: 32px;
		&:is(.ver_1) {
			height: 400px;
		}
		&:is(.ver_2) {
			height: 480px;
		}
	}

	.item-text {
		.item-meta {
			margin-bottom: 15px;
			a {
				&:nth-child(1) {
					color: #fff;
					padding: 8px 16px;
					margin-right: 20px;
					border-radius: 40px;
					background-color: var(--mx-prime-c);
				}
			}
		}
		.blg_title {
			font-size: 32px;
			font-weight: 600;
			padding-bottom: 15px;
		}
		p {
			max-width: 90%;
			padding-bottom: 20px;
		}
		.read_more {
			color: #09243C;
			i {
				margin-left: 10px;
				transform: rotate(-45deg);
			}
		}
	}
}