.mx-hero-sec {
	z-index: 1;
	margin: 24px;
	margin-bottom: 0;
	@media #{$xxl,$xl,$lg,$md,$sm,$xs,$xxs} {
		margin: 0;
	}
	.mx-hero-img {
		top: 0;
		left: 0;
		z-index: -1;
		width: 100%;
		height: 100%;
		clip-path: polygon( 76.442% 0%,76.442% 0%,76.789% 0.05%,77.118% 0.193%,77.424% 0.423%,77.704% 0.731%,77.953% 1.109%,78.167% 1.551%,78.341% 2.047%,78.47% 2.591%,78.551% 3.173%,78.579% 3.788%,78.579% 5.682%,78.579% 5.682%,78.607% 6.296%,78.688% 6.879%,78.818% 7.423%,78.991% 7.919%,79.205% 8.36%,79.454% 8.739%,79.734% 9.047%,80.04% 9.277%,80.369% 9.42%,80.716% 9.47%,97.863% 9.47%,97.863% 9.47%,98.21% 9.519%,98.539% 9.663%,98.845% 9.893%,99.125% 10.201%,99.374% 10.579%,99.588% 11.021%,99.761% 11.517%,99.891% 12.06%,99.972% 12.643%,100% 13.258%,100% 96.212%,100% 96.212%,99.972% 96.827%,99.891% 97.409%,99.761% 97.953%,99.588% 98.449%,99.374% 98.891%,99.125% 99.269%,98.845% 99.577%,98.539% 99.807%,98.21% 99.95%,97.863% 100%,2.137% 100%,2.137% 100%,1.79% 99.95%,1.461% 99.807%,1.155% 99.577%,0.875% 99.269%,0.626% 98.891%,0.412% 98.449%,0.239% 97.953%,0.109% 97.409%,0.028% 96.827%,0% 96.212%,0% 13.258%,0% 13.258%,0.028% 12.643%,0.109% 12.06%,0.239% 11.517%,0.412% 11.021%,0.626% 10.579%,0.875% 10.201%,1.155% 9.893%,1.461% 9.663%,1.79% 9.519%,2.137% 9.47%,13.034% 9.47%,13.034% 9.47%,13.381% 9.42%,13.71% 9.277%,14.016% 9.047%,14.296% 8.739%,14.545% 8.36%,14.759% 7.919%,14.932% 7.423%,15.062% 6.879%,15.143% 6.296%,15.171% 5.682%,15.171% 3.788%,15.171% 3.788%,15.199% 3.173%,15.28% 2.591%,15.409% 2.047%,15.583% 1.551%,15.797% 1.109%,16.046% 0.731%,16.326% 0.423%,16.632% 0.193%,16.961% 0.05%,17.308% 0%,76.442% 0% );
		@media #{$xxl,$xl,$lg,$md,$sm,$xs,$xxs} {
			clip-path: none;
		}
	}
}

.mx-hero-text {
	max-width: 770px;
	padding: 260px 0px 335px;
	@media #{$md,$sm,$xs,$xxs} {
		padding: 180px 0px 335px;
	}
	@media #{$xs,$xxs} {
		padding: 180px 0px 260px;
	}
	.mx-slug {
		color: #fff;
		font-size: 18px;
		margin-bottom: 15px;
	}
	.hr_title {
		color: #fff;
		font-size: 66px;
		line-height: 1.2;
		font-weight: 700;
		letter-spacing: -1px;
		padding-bottom: 10px;
		@media #{$md} {
			font-size: 60px;
		}
		@media #{$sm} {
			font-size: 50px;
		}
		@media #{$xs} {
			font-size: 45px;
		}
		@media #{$xxs} {
			font-size: 40px;
		}
	}
	p {
		color: #fff;
		font-size: 18px;
		max-width: 700px;
		padding-bottom: 30px;
	}
	.mx-btn1 {
		a {
			i {
				border: 3px solid #9DBEC7;
			}
		}
	}
	.mx-hero-client {
		gap: 16px;
		flex-wrap: wrap;
		ul {
			display: flex;
		}
		li {
			width: 60px;
			height: 60px;
			display: flex;
			color: #000000;
			font-size: 20px;
			overflow: hidden;
			margin-left: -25px;
			align-items: center;
			border-radius: 100%;
			justify-content: center;
			border: 3px solid #85B0B9;
			&:first-child {
				margin-left: 0;
			}
			&:last-child {
				background-color: #fff;
			}
		}
		p {
			max-width: 350px;
			padding-bottom: 0;
			span {
				font-weight: 600;
				text-decoration: underline;
			}
		}
	}
}