.mx-ser1-sec {
	margin: 0px 24px;
	@media #{$lg,$md,$sm,$xs,$xxs} {
		margin: 0;
	}
}

.mx-ser1-content {
	z-index: 1;
	border-radius: 40px;
	background-color: var(--mx-prime-c2);
	@media #{$lg,$md,$sm,$xs,$xxs} {
		padding-left: 15px;
		padding-right: 15px;
	}
	.mx-ser-bg {
		top: 0;
		left: 0;
		z-index: -1;
	}
}

.mx-ser1-top {
	gap: 30px;
	flex-wrap: wrap;
	.mx-sec-title {
		max-width: 505px;
		.subtitle {
			span {
				color: #fff;
				border: 1px solid #fff;
				&:before {
					background-color: #fff;	
				}
			}
		}
		.sec_title {
			color: #fff;
		}
	}
	.top-desc {
		max-width: 505px;
		p {
			color: #fff;
		}
		.mx-btn1 {
			a {
				span {
					color: var(--mx-prime-c2);
					background-color: #fff;
				}
				i {
					background-color: #fff;
					color: var(--mx-prime-c2);
					border: 3px solid var(--mx-prime-c2);
				}
				&:hover {
					span {
						color: #fff;
					}
				}
			}
		}
	}
}
.mx-ser1-slider {
	width: 128%;
	margin-left: -260px;
	@media #{$lg,$md,$sm,$xs,$xxs} {
		width: 100%;
		margin-left: 0;
	}
}
.mx-ser1-item {
	z-index: 1;
	gap: 24px;
	padding: 12px;
	border-radius: 24px;
	background-color: #fff;
	@media #{$xs,$xxs} {
		flex-wrap: wrap;
	}
	.mx-ser-line {
		right: -15%;
		bottom: -15%;
		z-index: -1;
		position: absolute;
	}
	.item-icon-img {
		z-index: 1;
		width: 200px;
		height: 277px;
		overflow: hidden;
		border-radius: 20px;
		@media #{$xs,$xxs} {
			width: 100%;
		}
		&:before {
			top: 0;
			left: 0;
			z-index: -1;
			opacity: .6;
			width: 100%;
			content: '';
			height: 100%;
			position: absolute;
			background: linear-gradient(180deg, #3368C6 0%, rgba(51, 104, 198, 0.6) 25.35%, rgba(51, 104, 198, 0.2) 50.34%, rgba(51, 104, 198, 0) 100%);
		}
		.item-icon {
			top: 50%;
			left: 0;
			right: 0;
			width: 80px;
			z-index: 2;
			height: 80px;
			margin: 0 auto;
			position: absolute;
			border-radius: 100%;
			background-color: var(--mx-prime-c);
			transform: scale(1) translateY(-50%);
			transition: all 700ms ease-in-out;
			transform-origin: center center;
		}
		.item-img {
			top: 50%;
			left: 0;
			right: 0;
			width: 80px;
			height: 80px;
			margin: 0 auto;
			overflow: hidden;
			position: absolute;
			border-radius: 100%;
			transform: translateY(-50%);
			transition: all 700ms ease-in-out;
			background-color: var(--mx-prime-c);
		}
	}
	.item-text-wrap {
		display: flex;
		max-width: 314px;
		padding: 20px 0px;
		flex-direction: column;
		justify-content: space-between;
		@media #{$xs,$xxs} {
			max-width: 100%;
		}
		.item-text {
			h3 {
				font-size: 24px;
				font-weight: 600;
				padding-bottom: 15px;
			}
		}
		.mx-btn1 {
			a {

				span {
					color: #000000;
					background-color: #F6F7F9;
					border: 1px solid #EAECF0;
					padding: 10px 28px 8px 20px;
				}
				i {
					width: 44px;
					height: 44px;
					background-color: var(--mx-prime-c);
				}
				&:hover {
					span {
						color: #fff;
					}
				}
			}
		}
	}
	&:hover {
		.item-icon-img {
			.item-icon {
				transform: scale(0) translateY(-50%);
			}
			.item-img {
				width: 100%;
				height: 100%;
				border-radius: 0%;
			}
		}
	}
}