.mx-workp-sec {
	.mx-sec-title {
		margin: 0 auto;
		max-width: 770px;
	}
}

.mx-workp-content {
	gap: 24px;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	@media #{$lg,$md,$sm,$xs,$xxs} {
		grid-template-columns: 1fr 1fr;
	}
	@media #{$sm,$xs,$xxs} {
		grid-template-columns:  1fr;
	}
}

.mx-workp-item {
	z-index: 1;
	height: 320px;
	padding: 40px;
	overflow: hidden;
	border-radius: 20px;
	background-color: #fff;
	@media #{$xl,$lg,$md,$sm,$xs,$xxs} {
		gap: 20px;
		display: flex;
		padding: 30px 20px;
		justify-content: space-between;
	}
	.mx-wrp-shape {
		left: -40%;
		bottom: -75%;
		z-index: -1;
	}
	.item-text {
		gap: 30px;
		height: 100%;
		display: flex;
		max-width: 320px;
		flex-direction: column;
		justify-content: space-between;
		@media #{$xxl} {
			max-width: 290px;
		}
		@media #{$xl,$lg,$md,$sm,$xs,$xxs} {
			max-width: 225px;
		}
		h3 {
			font-size: 24px;
			font-weight: 600;
			@media #{$lg,$md,$sm,$xs,$xxs} {
				font-size: 20px;
			}
		}
		p {

		}
	}
	.item-step {
		top: 0;
		right: 0;
		height: 100%;
		width: 100px;
		display: flex;
		padding: 32px 0px;
		border-radius: 20px;
		position: absolute;
		align-items: center;
		flex-direction: column;
		background-color: #BCE7F0;
		justify-content: space-between;
		@media #{$xl,$lg,$md,$sm,$xs,$xxs} {
			position: static;
		}

		.step-text {
			h4 {
				font-size: 32px;
				font-weight: 600;
				padding-bottom: 5px;
				letter-spacing: -1px;
			}
			span {
				text-transform: uppercase;
			}
		}
	}
	&:nth-child(2) {
		.item-step {
			background-color: #FBE285;
		}
	}
	&:nth-child(3) {
		.item-step {
			background-color: #F0BCE9;
		}
	}
}