.mx-cta3-sec {
	z-index: 1;
	margin: 0px 12px;
	.mx-cta3-bg {
		top: 0;
		left: 0;
		z-index: -1;
		width: 100%;
		height: 100%;
		overflow: hidden;
		border-radius: 40px;
		&:before,
		&:after {
			top: 0;
			left: 0;
			width: 100%;
			content: '';
			height: 100%;
			max-width: 675px;
			position: absolute;
			background-repeat: no-repeat;
			background-image: url(../img/shape/shape36.png);
			@media #{$md,$sm,$xs,$xxs} {
				display: none;
			}
		}
		&:after {
			right: 0;
			left: auto;
			transform: rotate(-180deg);
		}
	}
}
.mx-cta3-item {
	width: 100%;
	margin: 0 auto;
	max-width: 620px;
	border-radius: 32px;
	border: 12px solid #FFFFFF;
	.blank-space {
		width: 100%;
		height: 405px;
		@media #{$xxs} {
			height: 250px;
		}
	}
	.item-text {
		padding: 55px 25px;
		background-color: #fff;
		border-top-left-radius: 30px;
		border-top-right-radius: 30px;
		h3 {
			font-size: 36px;
			font-weight: 600;
			letter-spacing: -1px;
			@media #{$xxs} {
				font-size: 26px;
			}
		}
	}
}