.mx-item-scroll-wrap {
	display: flow-root;
}
.mx-im-scroll {
	margin: 0px 8px;
	display: inline-block;
	.inner-item {
		gap: 16px;
		display: flex;
	}
	.item-text {
		color: #000000;
		font-size: 32px;
		padding: 18px 32px;
		border-radius: 100px;
		background-color: #fff;
	}
	.item-img {
		height: 86px;
		overflow: hidden;
		border-radius: 120px;
		img {
			transition: all 300ms ease-in-out;
		}
	}
	&:hover {
		.item-img {
			img {
				transform: scale(1.2);
			}
		}
	}
}

