.mx-ser3-sec {
	z-index: 1;
	margin: 0px 12px;
	.mx-ser3-shape {
		top: 5%;
		left: -10%;
		width: 130%;
		opacity: .56;
	}
}
.mx-ser3-wrap {
	border-radius: 40px;
	background-color: var(--mx-prime-c2);
}
.mx-ser3-top {
	gap: 30px;
	@media #{$md,$sm,$xs,$xxs} {
		flex-wrap: wrap;
	}
	.mx-sec-title {
		max-width: 640px;
		.subtitle {
			span {
				color: #fff;
				border: 1px solid #fff;
				&:before {
					background-color: #fff;
				}
			}
		}
		.sec_title {
			color: #fff;
		}
	}
	.top-desc {
		max-width: 510px;
		p {
			color: #fff;
		}
		.mx-btn1 {
			a {
				span {
					color: #000;
					background-color: #fff;
				}
				i {
					color: #000;
					background-color: #fff;
					border: 3px solid var(--mx-prime-c2);
				}
			}
		}
	}
}

.mx-ser3-nav {
	color: #fff;
	max-width: 636px;
	.mx-ser-scrollbar {
		width: 100%;
		height: 1px;
		max-width: 1146px;
		background-color: rgba(255, 255, 255, 0.6);
		.swiper-scrollbar-drag {
			top: -2px;
			height: 4px;
			border-radius: 0;
			background-color:  rgba(255, 255, 255, 1);;
		}
	}
}

.mx-ser3-slider-wrap {
	gap: 30px 40px;
	@media #{$lg,$md,$sm,$xs,$xxs} {
		flex-wrap: wrap;
		justify-content: center !important;
	}
}


.mx-ser3-thumb {
	max-width: 403px;
	@media #{$lg,$md,$sm,$xs,$xxs} {
		width: 100%;
		max-width: 100%;
	}
	.ser3-thumb {
		color: #fff;
		cursor: pointer;
		font-size: 24px;
		font-weight: 600;
		padding: 16px 20px;
		border-radius: 12px;
		background-color: #112B41;
		@media #{$xxs} {
			font-size: 20px;
		}
		@media #{$xxxs} {
			font-size: 18px;
		}
	}
}
.swiper-slide-thumb-active {
	.ser3-thumb {
		background-color: var(--mx-prime-c);
	}
}
.mx-ser3-slide-thumb {
	height: 393px;
	@media #{$lg,$md,$sm,$xs,$xxs} {
		max-width: 100%;
	}
}
.mx-ser3-slider-item {
	margin: 0;
	width: 100%;
	max-width: 864px;
	@media #{$xl} {
		max-width: 730px;
	}
	@media #{$lg,$md,$sm,$xs,$xxs} {
		width: 100%;
		max-width: 100%;
	}
}
.mx-ser3-item {
	width: 100%;
	padding: 8px;
	max-width: 864px;
	border-radius: 20px;
	background-color: #fff;
	justify-content: space-between;
	@media #{$lg,$md,$sm,$xs,$xxs} {
		max-width: 100%;
	}
	@media #{$md,$sm,$xs,$xxs} {
		flex-wrap: wrap;
	}
	.item-text {
		max-width: 380px;
		padding: 30px 45px;
		@media #{$xxs} {
			padding: 30px 20px;
		}
		.item-icon {
			width: 72px;
			height: 72px;
			border-radius: 12px;
			margin-bottom: 120px;
			background-color: var(--mx-prime-c2);
			@media #{$md,$sm,$xs,$xxs} {
				margin-bottom: 30px;
			}
		}
	}
	.item-img {
		max-width: 372px;
		overflow: hidden;
		border-radius: 20px;
		@media #{$md,$sm,$xs,$xxs} {
			height: 350px;
			max-width: 100%;
		}
	}
	p {
		padding-bottom: 30px;
	}
	.read_more {
		gap: 12px;
		display: flex;
		color: #000000;
		align-items: center;
		i {
			color: #fff;
			width: 40px;
			height: 40px;
			display: flex;
			border-radius: 100%;
			align-items: center;
			justify-content: center;
			background-color: var(--mx-prime-c2);
		}
	}
}