.mx-wc3-content {
	gap: 24px;
	z-index: 1;
	display: grid;
	grid-template-columns: 1fr 1fr;
	.mx-wc3-img {
		top: 100px;
		z-index: -1;
		overflow: hidden;
		img {
			border-radius: 32px;
		}
		@media #{$lg,$md,$sm,$xs,$xxs} {
			position: static !important;
		}
	}
	@media #{$lg,$md,$sm,$xs,$xxs} {
		grid-template-columns: 1fr;
	}
}

.mx-wc3-count-wrap {
	gap: 12px;
	display: grid;
	align-items: end;
	grid-template-columns: 1fr 1fr 1fr;
	@media #{$xxs} {
		grid-template-columns: 1fr 1fr;
	}
	@media #{$xxs} {
		grid-template-columns:  1fr;
	}
}

.mx-wc3-count-item {
	width: 	100%;
	max-width: 248px;
	border-radius: 24px;
	background-color: #fff;
	padding: 40px 30px 35px;
	@media #{$lg,$md,$sm,$xs,$xxs} {
		max-width: 100%;
	}
	.item-icon {
		width: 80px;
		height: 80px;
		margin: 0 auto;
		margin-bottom: 42px;
		border-radius: 20px;
		background-color: var(--mx-prime-c);
	}
	.item-text {
		h3 {
			font-size: 48px;
			font-weight: 600;
			padding-bottom: 5px;
			@media #{$xl} {
				font-size: 40px;
			}
		}
		p {
			color: #272727;
			@media #{$xl} {
				font-size: 14px;
			}
		}
	}
}

.mx-wc3-text-wrap {
	z-index: 1;
	padding: 60px;
	max-width: 768px;
	border-radius: 32px;
	background-color: var(--mx-prime-c2);
	.mx-wc3-shape {
		top: 10%;
		right: -30%;
		z-index: -1;
	}
	@media #{$xl} {
		padding: 60px 30px;
	}
	@media #{$lg,$md,$sm,$xs,$xxs} {
		max-width: 100%;
	}
	@media #{$xxs} {
		padding: 60px 30px;
	}
	.mx-sec-title {
		.subtitle {
			span {
				color: #fff;
				border: 1px solid #fff;
				&:before {
					background-color: #fff;
				}
			}
		}
		.sec_title {
			color: #fff;
		}
		p {
			color: #fff;
		}
	}
	.mx-btn1 {
		a {
			span {
				color: #000;
				background-color: #fff;
			}
			i {
				color: #000;
				background-color: #fff;
				border: 3px solid var(--mx-prime-c2);
			}
		}
	}
}

.mx-wc3-list-wrapper {
	z-index: 1;
	position: relative;
	&:before {
		top: 0;
		left: 25px;
		width: 1px;
		z-index: -1;
		height: 87%;
		content: "";
		position: absolute;
		border-left: 1px dashed #fff; 
		@media #{$xl} {
			height: 84%;
		}
		@media #{$md,$sm,$xs,$xxs} {
			display: none;
		}
	}
}

.mx-wc3-list {
	gap: 24px;
	margin-bottom: 35px;
	@media #{$md,$sm,$xs,$xxs} {
		flex-wrap: wrap;
	}
	&:last-child {
		margin-bottom: 0;
	}
	span {
		color: #fff;
		width: 52px;
		height: 52px;
		display: flex;
		border-radius: 100%;
		align-items: center;
		justify-content: center;
		background-color: #3A5063;
		transition: all 400ms ease-in-out;
	}
	.item-text {
		max-width: 572px;
		@media #{$xxl} {
			max-width: 450px;
		}
		@media #{$xl} {
			max-width: 350px;
		}
		h3 {
			color: #fff;
			font-size: 20px;	
			font-weight: 600;
			padding-bottom: 5px;
		}
		p {
			color: #EAECF0;
			font-size: 16px;
		}
	}
	&:is(.active) {
		span {
			background-color: #fff;
			color: var(--mx-prime-c2);
		}
	}
}