.mx-footer-sec {
	margin: 0px 24px;
	@media #{$sm,$xs,$xxs} {
		margin: 0px 5px;
	}
}
.mx-ftr-wrapper {
	padding: 80px 0px 32px;
	border-top-left-radius: 40px;
	border-top-right-radius: 40px;
	background: linear-gradient(180deg, #3368C6 0%, rgba(51, 104, 198, 0.9) 49.7%, rgba(51, 104, 198, 0) 100%);
}
.mx-ftr-text {
	margin-bottom: -80px;
	h2 {
		opacity: .7;
		line-height: .9;
		font-weight: 600;
		font-size: 324px;
		letter-spacing: -20px;
		background: linear-gradient(180deg, rgba(255, 255, 255, 0.8) 0%, rgba(255, 255, 255, 0.2) 49.52%, rgba(255, 255, 255, 0) 100%);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		@media #{$sm,$xs,$xxs} {
			font-size: 150px;
		}
	}
} 
.mx-ftr-newslatter {
	height: 198px;
	border-bottom: 1px solid rgba(39, 39, 39, .15);
	@media #{$lg,$md,$sm,$xs,$xxs} {
		height: auto;
		flex-wrap: wrap;
		padding: 50px 15px;
	}
	.brand-logo {
		width: 100%;
		max-width: 392px;
		border-right: 1px solid rgba(39, 39, 39, .15);
		@media #{$xl,$lg,$md,$sm,$xs,$xxs} {
			border-right: none;
		}
	}
}

.mx-ftr-newsltr-wrap {
	padding-top: 60px;
	padding-left: 50px;
	@media #{$md,$sm,$xs,$xxs} {
		gap: 30px;
		flex-wrap: wrap;
		padding-top: 30px;
		padding-left: 20px;
	}
	h2 {
		font-size: 32px;	
		max-width: 457px;
		font-weight: 600;
		@media #{$md} {
			font-size: 30px;
		}
		@media #{$sm} {
			font-size: 28px;
		}
		@media #{$xs} {
			font-size: 24px;
		}
		@media #{$xxs} {
			font-size: 24px;
		}
		@media #{$xxxs} {
			font-size: 22px;
		}
	}
	form {
		display: flex;
		width: 560px;
		position: relative;
		@media #{$xxs} {
			gap: 15px;
			flex-wrap: wrap;
		}
		@media #{$sm,$xs,$xxs} {
			width: 100%;
			max-width: 100%;
		}
		input {
			width: 100%;
			height: 75px;
			padding-left: 25px;
			border-radius: 120px;	
			border: 1px solid #EAECF0;
			background-color: #F6F7F9;
		}
		button {
			top: 9px;
			right: 9px;
			color: #fff;
			height: 60px;
			border: none;
			position: absolute;
			padding: 10px 20px;
			white-space: nowrap;
			border-radius: 40px;
			transition: all 300ms ease-in-out;
			background-color: var(--mx-prime-c2);
			@media #{$xxs} {
				position: static;
			}
			&:hover {
				background-color: var(--mx-prime-c);
			}
		}
	}
}

.mx-ftr1-area {
	background-color: #fff;
	border-radius: 24px;
}
.mx-ftr1-widget-wrapper {
	@media #{$lg,$md,$sm,$xs,$xxs} {
		flex-wrap: wrap;
		padding-bottom: 60px;
	}
}
.mx-ftr1-widget {
	.widget-title {
		font-size: 22px;
		position: relative;
		padding-bottom: 16px;
		margin-bottom: 30px;
		&:before {
			left: 0;
			bottom: 0;
			width: 72px;
			height: 3px;
			content: '';
			position: absolute;
			background-color: var(--mx-prime-c);
		}
		span {
			position: relative;
			&:before,
			&:after {
				width: 4px;
				height: 3px;
				content: '';
				bottom: -16px;
				position: absolute;
				background-color: #fff;
				animation: leftRight 3s linear infinite alternate;
			}
			&:before {
				left: 35px;
			}
			&:after {
				left: 15px;
			}
		}
	}
	.social-widget {
		width: 100%;
		padding: 60px;
		max-width: 392px;
		padding-bottom: 160px;
		border-right: 1px solid rgba(39, 39, 39, .15);
		@media #{$xl,$lg,$md,$sm,$xs,$xxs} {
			border-right: none;
		}
		@media #{$lg,$md,$sm,$xs,$xxs} {
			padding-bottom: 0;
		}
		@media #{$xxs} {
			padding-left: 20px;
		}
		.social-icon {
			gap: 6px;
			display: flex;
			padding-top: 45px;
			a {
				width: 48px;
				height: 48px;
				color: #000000;
				display: flex;
				border-radius: 12px;
				align-items: center;
				justify-content: center;
				border: 1px solid rgba(0, 0, 0, 0.2);
				&:hover {
					color: #fff;
					background-color: var(--mx-prime-c);
					border: 1px solid var(--mx-prime-c);
				}
			}
		}
	}
	.menu-widget {
		width: 208px;
		padding-top: 60px;
		margin-left: 40px;
		@media #{$xl} {
			max-width: 165px;
		}
		@media #{$xxs} {
			margin-left: 0;
			padding-left: 20px;
		}
		li {
			margin-bottom: 12px;
			a {
				&:hover {
					letter-spacing: 1px;
					color: var(--mx-prime-c);
				}
			}
		}
	}
	.recent-widget {
		padding-top: 60px;
		padding-left: 40px;
		padding-right: 15px;
		@media #{$xl} {
			padding-left: 0;
		}
		@media #{$xxs} {
			padding-left: 15px;
		}
	}
	.rec-news-item {
		gap: 14px;
		margin-bottom: 24px;
		&:last-child {
			margin-bottom: 0;
		}
		.item-img {
			width: 76px;
			height: 76px;
			overflow: hidden;
			border-radius: 12px;
		}
		.item-text {
			max-width: 215px;
			h3 {
				font-size: 16px;
				font-weight: 600;
				line-height: 1.5;
				padding-bottom: 8px;
			}
			span {
				text-transform: capitalize;
			}
		}
	}
}

.mx-ftr-copyright {
	gap: 15px;
	flex-wrap: wrap;
	padding: 30px 60px;
	border-top: 1px solid rgba(39, 39, 39, .15);
	p {
		color: #000000;
	}
	@media #{$xxs} {
		padding: 15px;
		text-align: center;
		justify-content: center !important;
	}
}


.mx-ftr2-sec {
	z-index: 1;
	margin: 0px 32px;
	@media #{$lg,$md,$sm,$xs,$xxs} {
		margin: 0px 10px;
	}
	.mx-ftr2-wrap {
		z-index: 1;
		padding-top: 48px;
		background-color: #020C27;
		border-top-left-radius: 40px;
		border-top-right-radius: 40px;
		.mx-ftr2-shape {
			top: 0;
			left: 0;
			z-index: -1;
		}
	}

}

.mx-ftr2-cta-area {
	gap: 24px;
	z-index: 2;
	display: grid;
	position: relative;
	grid-template-columns: 1fr 1fr 1fr;
	@media #{$md,$sm,$xs,$xxs} {
		grid-template-columns: 1fr 1fr;
	}
	@media #{$sm,$xs,$xxs} {
		grid-template-columns: 1fr;
	}
}
.mx-ftr2-cta-item {
	padding: 48px;
	border-radius: 32px;
	background-color: #0D1730;
	.item-icon {
		width: 60px;
		height: 60px;
		margin: 0 auto;
		font-size: 20px;
		color: #F6F6F6;
		margin-bottom: 30px;
		border-radius: 100%;
		background-color: #1B243C;
		transition: all 400ms ease-in-out;
	}
	.item-text {
		h3 {
			color: #fff;
			font-size: 22px;
			font-weight: 600;
			padding-bottom: 10px;
		}
		p {
			font-size: 17px;
			color: rgba(255, 255, 255, .8);
		}
	}
	&:hover {
		.item-icon {
			color: var(--mx-prime-c);
			background-color: #fff;
		}
	}
}

.mx-ftr2-widget-area {
	gap: 30px;
	display: flex;
	padding-bottom: 230px;
	justify-content: space-between;
	@media #{$md,$sm,$xs,$xxs} {
		flex-wrap: wrap;
	}
}
.mx-ftr2-menu-wrap {
	width: 100%;
	max-width: 864px;
	justify-content: space-between;
	@media #{$sm,$xs,$xxs} {
		flex-wrap: wrap;
	}
}
.mx-ftr2-widget {
	.widget-title {
		font-size: 18px;
		position: relative;
		padding-bottom: 18px;
		margin-bottom: 30px;
		&:before {
			left: 0;
			bottom: 0;
			width: 72px;
			height: 3px;
			content: '';
			position: absolute;
			background-color: var(--mx-prime-c);
		}
		span {
			opacity: .7;
			color: #EAECF0;
			position: relative;
			letter-spacing: -1px;
			&:before,
			&:after {
				width: 4px;
				height: 3px;
				content: '';
				bottom: -18px;
				position: absolute;
				background-color: #020C27;
				animation: leftRight 3s linear infinite alternate;
			}
			&:before {
				left: 35px;
			}
			&:after {
				left: 15px;
			}
		}
	}
	.logo-widget {
		width: 100%;
		max-width: 576px;
		h3 {
			color: #fff;
			font-size: 32px;
			padding-bottom: 40px;
		}
		.brand-logo {
			margin-bottom: 85px;
		}
		.newslatter-form {
			width: 100%;
			max-width: 504px;
			form {
				position: relative;
			}
			input {
				height: 60px;
				width: 100%;
				border: none;
				background-color: transparent;
				border-bottom: 1px solid #2A3248;
				transition: all 300ms ease-in-out;
				&::placeholder {
					color: rgba(255, 255, 255, .8);
				}
				&:focus {
					border-bottom: 1px solid #fff;
				}
			}
			button {
				top: 0;
				right: 0;
				width: 48px;
				color: #fff;
				border: none;
				height: 48px;
				color: #FFFFFF;
				border-radius: 100%;
				position: absolute;
				background-color: #09243C;
				transition: all 300ms ease-in-out;
				&:hover {
					background-color: var(--mx-prime-c);
				}
			}
		}
	}
	.menu-widget {
		width: 208px;
		@media #{$xl} {
			max-width: 165px;
		}
		@media #{$xxs} {
			margin-left: 0;
			padding-left: 20px;
		}
		li {
			margin-bottom: 12px;
			color: rgba(255, 255, 255, .8);
			a {
				&:hover {
					color: #fff;
					letter-spacing: 1px;
				}
			}
		}
	}
}

.mx-copyright2 {
	padding: 32px 0px;
	border-top: 1px solid #2A3248;
	.mx-copyright2-content {
		@media #{$xxs} {
			flex-wrap: wrap;
		}
		p {
			color: #fff;
		}
	}
}

.mx-bottom-text {
	left: 0;
	right: 0;
	bottom: 0;
	z-index: -1;
	position: absolute;
	h3 {
		line-height: .8;
		font-weight: 600;
		font-size: 360px;
		letter-spacing: -20px;
		background: linear-gradient(180deg, #1B243C 0%, rgba(27, 36, 60, 0.2) 49.52%, rgba(27, 36, 60, 0) 100%);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
	}
}