/*=========
Font load
===========*/
@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=Unbounded:wght@200..900&display=swap');
:root {
	--mx-body-color: rgba(39, 39, 39, .8);
	--mx-title-color: #000000;
	--mx-heading: "Sora", sans-serif;
	--mx-body-font: "Sora", sans-serif;
	--mx-unbound: "Unbounded", sans-serif; 
	--mx-plus: "Plus Jakarta Sans", sans-serif;
	--mx-prime-c: #3368C6;
	--mx-prime-c2: #09243C;
	--mx-prime-c3: #40b08e;
	--cube-1: cubic-bezier(0.23, 1, 0.32, 1);
	--cube-2: all .25s cubic-bezier(.645,.045,.355,1);
	--cube-3: cubic-bezier(0.25, 1, 0.5, 1);
}

// Responsive Variables
$over:'(min-width: 1800px)';
$xxxl: 'only screen and (min-width: 1600px) and (max-width: 1799px)';
$xxl: 'only screen and (min-width: 1400px) and (max-width: 1599px)';
$xl: 'only screen and (min-width: 1200px) and (max-width: 1399px)';
$lg: 'only screen and (min-width: 992px) and (max-width: 1199px)';
$md:'only screen and (min-width: 768px) and (max-width: 991px)';
$sm: 'only screen and (min-width: 576px) and (max-width: 767px)';
$xs:'only screen and (min-width: 481px) and (max-width: 575px)';
$xxs:'(max-width: 480px)';
$xxxs:'(max-width: 360px)';

@keyframes slideInUp {
	0% {
		opacity: 0;
		-webkit-transform: translateY(250px);
		-ms-transform: translateY(250px);
		transform: translateY(250px);
	}

	100% {
		-webkit-transform: translateY(0);
		-ms-transform: translateY(0);
		transform: translateY(0);
	}
} 
.slideInUp {
	-webkit-animation-name: slideInUp;
	animation-name: slideInUp;
}