/*----------------------------------------------------

1. Global Area 
2. Header Section

******* HOME PAGE 1 *******



=====================================================================*/


@import "template";
@import "header";
@import "offcanvas";
@import "search";

/*global area*/
/*----------------------------------------------------*/
@import "predefine";
/*---------------------------------------------------- */

/******* HOME PAGE 1 *******/
/*Hero area*/
/*----------------------------------------------------*/
@import "home_1/hero";
/*---------------------------------------------------- */
/*App cta area*/
/*----------------------------------------------------*/
@import "home_1/app-cta";
/*---------------------------------------------------- */
/*About area*/
/*----------------------------------------------------*/
@import "home_1/about";
/*---------------------------------------------------- */
/*Service area*/
/*----------------------------------------------------*/
@import "home_1/service";
/*---------------------------------------------------- */
/*Intro area*/
/*----------------------------------------------------*/
@import "home_1/intro";
/*---------------------------------------------------- */
/*why-c area*/
/*----------------------------------------------------*/
@import "home_1/why-c";
/*---------------------------------------------------- */
/*work p area*/
/*----------------------------------------------------*/
@import "home_1/work-p";
/*---------------------------------------------------- */
/*appoint area*/
/*----------------------------------------------------*/
@import "home_1/appoint";
/*---------------------------------------------------- */
/*Team area*/
/*----------------------------------------------------*/
@import "home_1/team";
/*---------------------------------------------------- */
/*Text scroller area*/
/*----------------------------------------------------*/
@import "home_1/text-scroller";
/*---------------------------------------------------- */
/*Testimonial area*/
/*----------------------------------------------------*/
@import "home_1/testi";
/*---------------------------------------------------- */
/*Partner area*/
/*----------------------------------------------------*/
@import "home_1/partner";
/*---------------------------------------------------- */
/*Blog area*/
/*----------------------------------------------------*/
@import "home_1/blog";
/*---------------------------------------------------- */



/******* HOME PAGE 2 *******/
/*Hero area*/
/*----------------------------------------------------*/
@import "home_2/hero";
/*---------------------------------------------------- */
/*Service area*/
/*----------------------------------------------------*/
@import "home_2/service";
/*---------------------------------------------------- */
/*about area*/
/*----------------------------------------------------*/
@import "home_2/about";
/*---------------------------------------------------- */
/*why-c area*/
/*----------------------------------------------------*/
@import "home_2/why-c";
/*---------------------------------------------------- */
/*Step area*/
/*----------------------------------------------------*/
@import "home_2/step";
/*---------------------------------------------------- */
/*Case study area*/
/*----------------------------------------------------*/
@import "home_2/case-study";
/*---------------------------------------------------- */
/*Price area*/
/*----------------------------------------------------*/
@import "home_2/price";
/*---------------------------------------------------- */
/*Testimonial area*/
/*----------------------------------------------------*/
@import "home_2/testi";
/*---------------------------------------------------- */
/*Appointment area*/
/*----------------------------------------------------*/
@import "home_2/appointment";
/*---------------------------------------------------- */


/*Footer Section*/
/*----------------------------------------------------*/
@import "footer";
/*---------------------------------------------------- */