.mx-blog2-sec {
	&:is(.ver_2) {
		margin: 0px 12px;
	}
	.mx-blog2-wrap {
		z-index: 1;
		&:before {
			top: 0;
			left: 0;
			width: 100%;
			content: '';
			z-index: -1;
			height: 100%;
			position: absolute;
			border-radius: 40px;
			background-color: #fff;
		}
	}
}

.mx-blog2-content {
	gap: 30px;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	@media #{$lg,$md} {
		grid-template-columns: 1fr 1fr;
	}
	@media #{$sm,$xs,$xxs} {
		grid-template-columns: 1fr;
	}
}

.mx-blog2-item {
	.item-img {
		height: 400px;
		overflow: hidden;
		border-radius: 24px;
		margin-bottom: 10px;
		img {
			transition: all 500ms ease-in-out;
		}
	}
	.item-text {
		padding: 20px;
		.blg_title {
			font-size: 24px;
			font-weight: 600;
			margin-bottom: 26px;
			&:hover {
				color: var(--mx-prime-c);
			}
		}
		.read_more {
			color: var(--mx-prime-c2);
			span {
				position: relative;
				&:before {
					left: 0;
					width: 0%;
					bottom: 2px;
					height: 1px;
					content: '';
					position: absolute;
					background-color: #000;
					transition: all 500ms ease-in-out;
				}
			}
			i {
				margin-left: 5px;
				transform: rotate(-45deg);
				transition: all 100ms ease-in-out;
			}
			&:hover {
				span {
					letter-spacing: 1px;
					&:before {
						width: 100%;
					}
				}
				i {
					transform: rotate(0);
				}
			}
		}
	}
	&:hover {
		.item-img {
			img {
				transform: scale(1.1);
				filter: grayscale(1);
			}
		}
	}
}