.mx-hero2-sec {
	
}
.mx-hero2-content{
	padding: 220px 0px 299px;
	.mx-hero2-line {
		z-index: 3;
		position: relative;
	}
	@media #{$md} {
		padding: 150px 0px 299px;
	}
	@media #{$sm,$xs,$xxs} {
		padding: 180px 0px 120px;
	}
}
.mx-hero2-wrap {
	z-index: 1;
	overflow: hidden;
	background: linear-gradient(107.56deg, #4B62D9 0%, #516EE2 68.33%, #263181 100%);
	border-bottom-right-radius: 48px;
	border-bottom-left-radius: 48px;
	.mx-hr-shape {
		top: 0;
		left: 0;
		z-index: -1;
		opacity: .5;
	}
	.mx-hr-shape2 {
		top: -13%;
		left: -30%;
		z-index: -2;
	}
	.mx-hr-shape3 {
		top: -50%;
		z-index: -2;
		right: -5%;
	}
	.mx-hr-shape4 {
		top: -36%;
		left: -36%;
		z-index: -2;
	}
	.mx-hr-shape5 {
		right: 0;
		bottom: 0;
		right: -36%;
		z-index: -2;
		bottom: -50%;
	}
}
.mx-hero2-text {
	z-index: 1;
	position: relative;
	text-align: center;
	@media #{$sm,$xs,$xxs} {
		margin-bottom: 30px;
	}
	h1 {
		font-size: 287px;
		font-weight: 700;
		line-height: .9;
		letter-spacing: -9px;
		@media #{$xl} {
			font-size: 200px;
		}
		@media #{$lg,$md,$sm,$xs,$xxs} {
			font-size: 150px;
		}
		@media #{$md} {
			font-size: 120px;
		}
		@media #{$sm} {
			font-size: 100px;
		}
		@media #{$sm,$xs,$xxs} {
			letter-spacing: 0;
			text-align: left !important;
		}
		@media #{$xs,$xxs} {
			font-size: 80px;
		}
		@media #{$xxs} {
			font-size: 60px;
		}
		@media #{$xxxs} {
			font-size: 40px;
		}
	}
	.line_1 {
		color: #fff;
		
	}
	.line_2,
	.line_3 {
		top: 0;
		left: 0;
		z-index: -1;
		margin: 0 auto;
		position: absolute;
		-webkit-text-fill-color: transparent;
		-webkit-text-stroke-width: 1px;
		-webkit-text-stroke-color: rgba(255, 255, 255, 0.2);
		@media #{$xl} {
			left: 0;
			right: 0;
		}
		@media #{$lg,$md,$sm,$xs,$xxs} {
			display: none !important;
		}
	}
	.line_2 {
		top: -6px;
		left: -8px;
	}
	.line_3 {
		top: 0;
		left: 8px;
	}
}
.mx-hero2-img-wrap {
	top: 0;
	left: 0;
	right: 0;
	z-index: 2;
	margin: 0 auto;
	max-width: 935px;
	text-align: center;
	.item-img2,
	.item-img3 {
		top: 0;
		left: 0;
		z-index: -1;
		right: 0;
		text-align: center;
	}
	@media #{$md,$sm,$xs,$xxs} {
		display: none !important;
	}
}

@keyframes border_animation {
	0% {
		-webkit-transform: scale(1);
		transform: scale(1);
		opacity: 0;
	}
	20% {
		-webkit-transform: scale(1.24);
		transform: scale(1.24);
		opacity: 1;
	}
	100% {
		-webkit-transform: scale(1.7);
		transform: scale(1.7);
		opacity: 0;
	}
}

.mx-hero2-line {
	@media #{$lg,$md,$sm,$xs,$xxs} {
		display: none  !important;
	}
	svg {
		overflow: hidden;
		max-width: 780px;
	}
	.mx-line-icon {
		left: 0;
		right: 0;
		width: 80px;
		height: 80px;
		bottom: -40px;
		margin: 0 auto;
		border-radius: 100%;
		background-color: #fff;
		border: 4px solid rgba(238, 240, 244, 1);
		@media #{$xl} {
			bottom: 0;
		}
		.video_btn_border {
			top: 0;
			left: 0;
			opacity: 0;
			width: 100%;
			height: 100%;
			border-radius: 60px;
			position: absolute;
			-webkit-animation-play-state: running;
			animation-play-state: running;
			border: 5px solid rgba(238, 240, 244, 1);
			-webkit-animation: border_animation 3.9s linear 0s infinite;
			animation: border_animation 3.9s linear 0s infinite;
		}
	}
}
.mx-hero2-desc {
	left: 0;
	top: 52px;
	z-index: 3;
	max-width: 372px;
	position: absolute;
	@media #{$sm,$xs,$xxs} {
		position: static;
		margin-bottom: 30px;
	}
	p {
		color: #fff;
		padding-bottom: 28px;
	}
	.mx-btn1 {
		a {
			span {
				&:before {
					background-color: #fff;
				}
			}
			&:hover {
				span {
					color: #000;
				}
				i {
					color: #fff;
					background-color: var(--mx-prime-c2);
				}
			}
		}
	}
}
.mx-hero2-video {
	top: 52px;
	right: 0;
	z-index: 3;
	width: 300px;
	height: 200px;
	position: absolute;
	border-radius: 24px;
	border: 8px solid #FFFFFF;
	@media #{$sm,$xs,$xxs} {
		position: static;
	}
	video {
		border-radius: 24px;
	}
}