.mx-hero2-sec {
	
}
.mx-hero2-content{
	padding: 220px 0px 299px;
	.mx-hero2-line {
		z-index: 3;
		position: relative;
	}
}
.mx-hero2-wrap {
	z-index: 1;
	overflow: hidden;
	background: linear-gradient(107.56deg, #4B62D9 0%, #516EE2 68.33%, #263181 100%);
	border-bottom-right-radius: 48px;
	border-bottom-left-radius: 48px;
	.mx-hr-shape {
		top: 0;
		left: 0;
		z-index: -1;
		opacity: .5;
	}
	.mx-hr-shape2 {
		top: -13%;
		left: -30%;
		z-index: -2;
	}
	.mx-hr-shape3 {
		top: -50%;
		z-index: -2;
		right: -5%;
	}
	.mx-hr-shape4 {
		top: -36%;
		left: -36%;
		z-index: -2;
	}
	.mx-hr-shape5 {
		right: 0;
		bottom: 0;
		right: -36%;
		z-index: -2;
		bottom: -50%;
	}
}
.mx-hero2-text {
	z-index: 1;
	position: relative;
	.line_1 {
		color: #fff;
		font-size: 287px;
		font-weight: 700;
		line-height: .9;
		letter-spacing: -9px;
	}
	.line_2,
	.line_3 {
		top: 0;
		left: 0;
		z-index: -1;
		line-height: .9;
		font-size: 287px;
		font-weight: 700;
		position: absolute;
		letter-spacing: -9px;
		-webkit-text-fill-color: transparent;
		-webkit-text-stroke-width: 1px;
		-webkit-text-stroke-color: rgba(255, 255, 255, 0.2);
	}
	.line_2 {
		top: -6px;
		left: -8px;
	}
	.line_3 {
		top: 0;
		left: 8px;
	}
}
.mx-hero2-img-wrap {
	top: 0;
	left: 0;
	right: 0;
	z-index: 2;
	text-align: center;
	.item-img2,
	.item-img3 {
		top: 0;
		left: 0;
		right: 0;
		text-align: center;
	}
}
.mx-hero2-line {
	svg {
		overflow: hidden;
		max-width: 780px;
	}
	.mx-line-icon {
		left: 0;
		right: 0;
		width: 80px;
		height: 80px;
		bottom: -40px;
		margin: 0 auto;
		border-radius: 100%;
		background-color: #fff;
		border: 4px solid rgba(238, 240, 244, 1);
	}
}
.mx-hero2-desc {
	left: 0;
	top: 52px;
	z-index: 3;
	max-width: 372px;
	position: absolute;
	p {
		color: #fff;
		padding-bottom: 28px;
	}
}
.mx-hero2-video {
	top: 52px;
	right: 0;
	width: 300px;
	height: 200px;
	position: absolute;
	border-radius: 24px;
	border: 8px solid #FFFFFF;
	video {
		border-radius: 24px;
	}
}