.mx-wc2-sec {
	padding: 0px 32px;
	@media #{$xxl,$xl,$lg,$md,$sm,$xs,$xxs} {
		padding: 0px 10px;
	}
}

.mx-wc2-wrapper {
	z-index: 1;
	border-radius: 40px;
	background-color: var(--mx-prime-c2);
	.mx-wc2-shape1 {
		top: 0;
		left: 0;
		z-index: -1;
	}
	.mx-wc2-shape2 {
		left: 0;
		bottom: 0;
		z-index: -2;
	}
	.mx-wc2-shape3 {
		left: 0;
		bottom: 0;
		z-index: -2;
	}
}
.mx-wc2-content {
	gap: 40px;
	justify-content: space-between;
	@media #{$md,$sm,$xs,$xxs} {
		flex-wrap: wrap;
		justify-content: center;
	}
}
.mx-wc2-text-wrap {
	max-width: 682px;
	@media #{$lg,$md,$sm,$xs,$xxs} {
		max-width: 500px;
	}
	.mx-sec-title {
		.subtitle {
			span {
				color: #fff;
				border: 1px solid #fff;
				&:before {
					background-color: #fff;
				}
			}
		}
		.sec_title {
			color: #fff;
		}
		p {
			color: #fff;
		}
	}
	.mx-btn1 {
		span {
			background-color: #fff;
			color: var(--mx-prime-c2);
		}
		i {
			background-color: #fff;
			color: var(--mx-prime-c2);
			border-color: var(--mx-prime-c2);
		}
		a {
			&:hover {
				span {
					color: #fff;
				}
			}
		}
	}
}

.mx-wc2-item {
	max-width: 504px;
	border-radius: 20px;
	margin-bottom: 24px;
	background-color: #fff;
	padding: 16px 16px 28px;
	.item-img {
		overflow: hidden;
		border-radius: 16px;
		img {
			transition: all 300ms ease-in-out;
		}
	}
	.item-text {
		z-index: 1;
		margin-top: -36px;
		position: relative;
		.item-icon {
			width: 72px;
			height: 72px;
			margin: 0 auto;
			margin-bottom: 12px;
			border-radius: 16px;
			border: 4px solid #FFFFFF;
			background-color: var(--mx-prime-c);
		}
		.inner-text {
			h3 {
				font-size: 20px;
				font-weight: 600;
				padding-bottom: 10px;
			}
		}
	}
	&:hover {
		.item-img {
			img {
				transform: scale(1.1);
			}
		}
	}
}

.mx-wc2-scrolbar {
	@media #{$md,$sm,$xs,$xxs} {
		display: none;
	}
	.wc2-scroler {
		width: 6px;
		height: 300px;
		position: relative;
		background-color: #fff;
		.wc2-scrbar {
			top: 0;
			left: 0;
			width: 6px;
			height: 60px;
			position: absolute;
			background-color: var(--mx-prime-c);
		}
	}
}