.mx-blog4-sec {
	.mx-sec-title2 {
		margin: 0 auto;
		max-width: 850px;
	}
}

.mx-blog4-item {
	gap: 30px 50px;
	display: grid;
	border-radius: 10px;
	padding-left: 50px;
	padding-right: 50px;
	margin-bottom: 20px;
	align-items: center;
	background-color: #fff;
	grid-template-columns: 1fr 1fr 1fr;
	@media #{$md,$sm,$xs,$xxs} {
		grid-template-columns:  1fr;
	}
	@media #{$xxs} {
		padding-left: 15px;
		padding-right: 15px;
	}
	.item-text,
	.item-title {
		padding: 20px 0px;
		@media #{$sm,$xs,$xxs} {
			padding: 30px 0px;
		}
	}
	.blg_title {
		color: #000000;
		font-size: 26px;
		font-weight: 700;
		margin-bottom: 0;
		line-height: 1.3;
		padding-bottom: 30px;
	}
	.mx-meta {
		color: #000000;
		font-size: 13px;
		font-weight: 500;
		display: block;
		margin-bottom: 12px;
		padding-bottom: 12px;
		border-bottom: 1px solid #e3e3e3;
	}
	.mx-author {
		color: #000000;
		font-size: 15px;
		font-weight: 600;
		display: block;
	}
	.item-text {
		p {
			color: #2f2f2f;
			font-size: 17px;
			padding-bottom: 20px;
		}
		.read_more {
			color: #000000;
			font-size: 16px;
			font-weight: 600;
			i {
				margin-left: 8px;
			}
		}
	}
}