.mx-cta4-sec {
	.mx-ct-img {
		right: 0;
		bottom: 0;
		z-index: 2;
		left: 30px;
		margin: 0 auto;
		max-width: 490px;
		text-align: center;
		@media #{$xl,$lg,$md,$sm,$xs,$xxs} {
			display: none;
		}
		.shape2 {
			left: 0;
			bottom: 10%;
		}
		.shape1 {
			top: 60%;
			right: -20px;
		}
		.shape3 {
			top: 32%;
			right: 25px;
		}
	}
}

.mx-cta4-content {
	gap: 30px;
	z-index: 1;
	padding: 50px;
	background-color: #fff;
	@media #{$xxs} {
		padding: 30px 25px;
	}
	&:before {
		right: -15%;
		z-index: -1;
		width: 62%;
		content: '';
		bottom: 18%;
		height: 185px;
		position: absolute;
		background-color: #2a495f;
		@media #{$xl,$lg,$md,$sm,$xs,$xxs} {
			display: none;
		}
	}
	@media #{$lg,$md,$sm,$xs,$xxs} {
		flex-wrap: wrap;
		justify-content: center !important;
	}
}
.mx-cta4-text {
	width: 50%;
	.mx-sec-title2 {
		max-width: 480px;
	}
	@media #{$lg,$md,$sm,$xs,$xxs} {
		width: 100%;
	}
}


.mx-cta4-img1 {
	margin-top: 40px;
	margin-left: -260px;
	@media #{$lg,$md,$sm,$xs,$xxs} {
		margin-left: 0;
	}
}

.mx-cta4-info {
	gap: 12px;
	margin-top: 25px;
	@media #{$xxs} {
		flex-wrap: wrap;
	}
	.item-icon {
		width: 50px;
		height: 50px;
		border-radius: 100%;
		border: 1px solid #000;
	}
	.item-text {
		span {
			color: #000;
			padding-bottom: 5px;
		}
		h3 {
			color: #000000;
			font-size: 22px;
			font-weight: 700;
		}
	}
}
.mx-cta4-list-wrapper  {
	width: 100%;
	max-width: 350px;
	@media #{$xl,$lg,$md,$sm,$xs,$xxs} {
		max-width: 100%;
	}
}

.mx-cta4-list-item {
	gap: 16px;
	width: 100%;
	margin-bottom: 8px;
	padding: 25px 30px;
	background-color: #fff;
	border: 1px solid #f3f3f3;
	box-shadow: -32px 0px 68px 0px rgba(233, 233, 233, 0.46);
	.item-text {
		color: #252150;
		font-size: 15px;
		font-weight: 500;
		font-family: var(--mx-unbound);
	}
	@media #{$xxs} {
		flex-wrap: wrap;
	}
}

.mx-cta4-desc {
	gap: 48px;
	z-index: 1;
	position: relative;
	margin-right: -130px;
	@media #{$xl,$lg,$md,$sm,$xs,$xxs} {
		gap: 15px;
		margin-right: 0;
	}

	p {
		color: #fff;
		max-width: 385px;
		text-align: right;
		@media #{$xl,$lg,$md,$sm,$xs,$xxs} {
			color: #000;
		}
	}
	.item-icon {
		width: 105px;
		height: 105px;
		border-radius: 100%;
		background-color: var(--mx-prime-c3);
		@media #{$sm,$xs,$xxs} {
			display: none !important;
		}
	}
}

.mx-cta5-sec {
	z-index: 1;
	@media #{$xs,$xxs} {
		padding: 50px 15px;
	}
	.mx-cta5-bg {
		top: 0;
		left: 0;
		z-index: -1;
		width: 100%;
		height: 100%;
	}
}

.mx-cta5-content {
	max-width: 880px;
	@media #{$xs,$xxs} {
		flex-wrap: wrap;
	}
	.item-video {
		width: 100%;
		max-width: 505px;
		@media #{$xs,$xxs} {
			max-width: 100%;
		}
		&:before,
		&:after {
			right: 0;
			width: 10px;
			height: 50%;
			content: '';
			position: absolute;
		}
		&:before {
			top: 0;
			background-color: #2a495f;
		}
		&:after {
			bottom: 0;
			background-color: var(--mx-prime-c3);
		}
		a {
			left: 0;
			top: 50%;
			right: 0;
			width: 113px;
			height: 113px;
			display: flex;
			margin: 0 auto;
			font-size: 30px;
			position: absolute;
			border-radius: 100%;
			align-items: center;
			background-color: #fff;
			justify-content: center;
			transform: translateY(-50%);
		}
	}
	.item-cta-info-wrap {
		background-color: #fff;
		@media #{$xs,$xxs} {
			width: 100%;
			max-width: 100%;
		}
		.item-cta-wrap {
			padding: 50px 40px;
			@media #{$sm,$xs,$xxs} {
				padding: 50px 20px;
			}
			ul {
				width: 100%;
				max-width: 305px;
				margin-top: 30px;
				li {
					gap: 15px;
					display: flex;
					color: #000000;
					margin-bottom: 15px;
					padding-bottom: 15px;
					justify-content: space-between;
					border-bottom: 1px solid #ececec;
				}
			}
		}
		.app_btn {
			width: 100%;
			color: #fff;
			padding: 15px;
			font-weight: 600;
			text-align: center;
			background-color: #005350;
		}
	}
}