.mx-spon4-item {
	.item-img {
		height: 48px;
		display: flex;
		align-items: center;
		justify-content: center;
	}
}

.mx-spon4-content {
	margin-top: -80px;
	padding: 45px 50px;
	background-color: #fff;
}