.mx-tst4-slider {
	margin: 0 auto;
	max-width: 1110px;
}

.mx-testi4-item {
	gap: 35px;
	.item-img {
		opacity: 0;
		max-width: 308px;
		transform: scale(.5);
		transition: all 300ms ease-in-out;
		@media #{$md,$sm,$xs,$xxs} {
			display: none;
		}
	}
	.item-text {
		max-width: 770px;
		@media #{$lg} {
			max-width: 590px;
		}
		@media #{$md,$sm,$xs,$xxs} {
			max-width: 100%;
		}
		.item-rate {
			opacity: 0;
			max-width: 210px;
			padding: 12px 40px;
			border-radius: 40px;
			background-color: #232323;
			border-bottom-left-radius: 0;
			transform: translateY(-20px);
			transition: all 500ms ease-in-out;
			span {
				color: #fff;
				font-weight: 600;
				font-size: 14px;
			}
			li {
				color: #ffc107;
				font-size: 14px;
			}
		}
		.item-desc {
			opacity: 0;
			color: #232323;
			font-size: 25px;
			margin: 25px 0px;
			font-family: var(--mx-unbound);
			transform: translateY(20px);
			transition: all 500ms ease-in-out;
		}
		.item-bottom {
			opacity: 0;
			gap: 25px;
			transform: translateY(20px);
			transition: all 500ms ease-in-out;
			@media #{$xs,$xxs} {
				flex-wrap: wrap;
			}
			.item-video {
				width: 100%;
				height: 95px;
				max-width: 350px;
				position: relative;
				border-radius: 60px;
				&:before {
					top: 0;
					left: 0;
					width: 100%;
					content: '';
					height: 100%;
					position: absolute;
					background-color: rgba(0, 0, 0, .5);
				}
				.v-play {
					top: 25%;
					left: 50%;
					color:#000;
					width: 52px;
					height: 52px;
					display: flex;
					position: absolute;
					align-items: center;
					border-radius: 100%;
					justify-content: center;
					background-color: #fff;
					transform: translate(-50%);
				}
			}
			.item-author {
				h3 {
					font-size: 20px;
					font-weight: 600;
					padding-bottom: 10px;
				}
				span {
					color: #000;
					font-size: 15px;
					font-weight: 600;
					font-family: var(--mx-undound);
				}
			}
		}
	}
}

.swiper-slide-active {
	.mx-testi4-item {
		.item-img {
			opacity: 1;
			transform: scale(1.0);
		}
		.item-text {
			.item-rate {
				opacity: 1;
				transform: translateY(0px);
			}
			.item-desc {
				opacity: 1;
				transition-delay: 300ms;
				transform: translateY(0px);
			}
			.item-bottom {
				opacity: 1;
				transition-delay: 500ms;
				transform: translateY(0px);
			}
		}
	}
}