.mx-treatment-sec {
	z-index: 1;
	.hr4-bottom1 {
		right: 0px;
		bottom: 50px;
		z-index: -2;
		width: 1000px;
		height: 139px;
		background-color: #40b08e;
		clip-path: polygon( 0.001% 44.276%,100% 100%,100% 0.002%,0.001% 44.276% );
	}
	.hr4-bottom2 {
		right: 18%;
		bottom: 40px;
		z-index: -3;
		width: 916px;
		height: 121px;
		background-color: #2a495f;
		clip-path: polygon(100% 70.049%, 0.079% 100%, 0.409% 0.391%, 100% 70.049%);
	}
}
.mx-treatment-wrapper {
	z-index: 1;
	clip-path: polygon(0 0, 100% 0, 100% 90%, 0 100%);
	.mx-treat-bg {
		top: 0;
		left: 0;
		z-index: -1;
		width: 100%;
		height: 100%;
	}
	.mx-treat-indicator {
		top: 21%;
		right: 31%;
		z-index: 2;
		height: 90px;
		width: 325px;
		position: absolute;
		@media #{$xxl} {
			right: 25%;
		}
		@media #{$xl} {
			right: 15%;
		}
		@media #{$lg,$md,$sm,$xs,$xxs} {
			display: none;
		}
		&:before {
			top: -24px;
			right: 23%;
			width: 1px;
			height: 150%;
			content: "";
			position: absolute;
			transform: rotate(-62deg);
			background-color: var(--mx-prime-c3); 
		}
		.item-text {
			color: #fff;
			font-size: 14px;
			padding: 5px 20px;
			border-radius: 30px;
			border-radius: 40px;
			border: 1px solid #fff;
			background-color: var(--mx-prime-c3);
		}
		.point-area {
			right: 0;
			bottom: 0;
			width: 20px;
			height: 20px;
			position: absolute;
			border-radius: 100%;
			border: 1px solid #fff;
			background-color: var(--mx-prime-c3);
		}
	}
}

.mx-treat-list {
	max-width: 680px;
	background-color: rgba(0, 0, 0, .8);
	li {
		margin-bottom: 20px;
		transition: all 500ms ease-in-out;
		h3 {
			color: #fff;
			font-size: 45px;
			font-style: italic;
			margin-bottom: 0;
			padding-bottom: 20px;
			transition: all 500ms ease-in-out;
		}
		span {
			top: -28px;
			color: #fff;
			width: 20px;
			height: 20px;
			font-size: 10px;
			position: relative;
			line-height: 20px;
			font-style: normal;
			border-radius: 100%;
			background-color: var(--mx-prime-c3);
		}
		i {
			opacity: 0;
			position: absolute;
		}
		ul {
			opacity: 0;
			transform: translateY(20px);
			transition: all 500ms ease-in-out;
		}
		li {
			color: #fff;
			font-size: 14px;
			margin: 0px 15px;
			position: relative;
			display: inline-block;
			text-transform: uppercase;
			&:before {
				top: 2px;
				right: -18px;
				content: "*";
				position: absolute;
			}
			&:last-child {
				&:before {
					display: none;
				}
			}
		}
		&:hover,
		&:is(.active) {
			margin-bottom: 30px;
			h3 {
				padding-bottom: 30px;
			}
			ul {
				opacity: 1;
				transform: translateY(0px);
			}
		}
	}
}